<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="cityName">Zagreb</span>
            <button class="btn" style="margin-left: 10px;">Promijeni grad</button>
        </div>

    </div>
</div>

